parameters:
	ignoreErrors:
		-
			message: '#^Property Symkit\\BuilderBundle\\Entity\\Block\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Block.php

		-
			message: '#^Property Symkit\\BuilderBundle\\Entity\\BlockCategory\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/BlockCategory.php

		-
			message: '#^Call to an undefined method object\:\:getCode\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/LiveComponent/ContentBuilder.php

		-
			message: '#^Call to an undefined method object\:\:getTitle\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/LiveComponent/ContentBuilder.php

		-
			message: '#^Cannot access offset ''categoryLabel'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/LiveComponent/ContentBuilder.php

		-
			message: '#^Cannot access offset ''label'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/LiveComponent/ContentBuilder.php

		-
			message: '#^Method Symkit\\BuilderBundle\\LiveComponent\\ContentBuilder\:\:addBlock\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/LiveComponent/ContentBuilder.php

		-
			message: '#^Method Symkit\\BuilderBundle\\LiveComponent\\ContentBuilder\:\:updateBlockData\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/LiveComponent/ContentBuilder.php

		-
			message: '#^Parameter \#1 \$string of function mb_strtolower expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/LiveComponent/ContentBuilder.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 3
			path: src/LiveComponent/ContentBuilder.php

		-
			message: '#^Property Symkit\\BuilderBundle\\LiveComponent\\ContentBuilder\:\:\$contentBlocks type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/LiveComponent/ContentBuilder.php

		-
			message: '#^Cannot call method saveHTML\(\) on DOMDocument\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Render/Strategy/AbstractBlockStrategy.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 1
			path: src/Render/Strategy/AbstractBlockStrategy.php

		-
			message: '#^Method Symkit\\BuilderBundle\\Render\\Strategy\\CodeBlockStrategy\:\:createFromNode\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Render/Strategy/CodeBlockStrategy.php

		-
			message: '#^Cannot access offset ''faqCode'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Render/Strategy/FaqBlockStrategy.php

		-
			message: '#^Method Symkit\\BuilderBundle\\Render\\Strategy\\FaqBlockStrategy\:\:render\(\) should return string but returns string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Render/Strategy/FaqBlockStrategy.php

		-
			message: '#^Call to method find\(\) on an unknown class Symkit\\MediaBundle\\Repository\\MediaRepository\.$#'
			identifier: class.notFound
			count: 1
			path: src/Render/Strategy/ImageBlockStrategy.php

		-
			message: '#^Call to method generateUrl\(\) on an unknown class Symkit\\MediaBundle\\Service\\MediaUrlGenerator\.$#'
			identifier: class.notFound
			count: 1
			path: src/Render/Strategy/ImageBlockStrategy.php

		-
			message: '#^Call to method getAltText\(\) on an unknown class Symkit\\MediaBundle\\Entity\\Media\.$#'
			identifier: class.notFound
			count: 1
			path: src/Render/Strategy/ImageBlockStrategy.php

		-
			message: '#^Class Symkit\\MediaBundle\\Entity\\Media not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Render/Strategy/ImageBlockStrategy.php

		-
			message: '#^Parameter \$mediaRepository of method Symkit\\BuilderBundle\\Render\\Strategy\\ImageBlockStrategy\:\:__construct\(\) has invalid type Symkit\\MediaBundle\\Repository\\MediaRepository\.$#'
			identifier: class.notFound
			count: 1
			path: src/Render/Strategy/ImageBlockStrategy.php

		-
			message: '#^Parameter \$urlGenerator of method Symkit\\BuilderBundle\\Render\\Strategy\\ImageBlockStrategy\:\:__construct\(\) has invalid type Symkit\\MediaBundle\\Service\\MediaUrlGenerator\.$#'
			identifier: class.notFound
			count: 1
			path: src/Render/Strategy/ImageBlockStrategy.php

		-
			message: '#^Property Symkit\\BuilderBundle\\Render\\Strategy\\ImageBlockStrategy\:\:\$mediaRepository has unknown class Symkit\\MediaBundle\\Repository\\MediaRepository as its type\.$#'
			identifier: class.notFound
			count: 1
			path: src/Render/Strategy/ImageBlockStrategy.php

		-
			message: '#^Property Symkit\\BuilderBundle\\Render\\Strategy\\ImageBlockStrategy\:\:\$urlGenerator has unknown class Symkit\\MediaBundle\\Service\\MediaUrlGenerator as its type\.$#'
			identifier: class.notFound
			count: 1
			path: src/Render/Strategy/ImageBlockStrategy.php

		-
			message: '#^Method Symkit\\BuilderBundle\\Render\\Strategy\\ListBlockStrategy\:\:createFromNode\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Render/Strategy/ListBlockStrategy.php

		-
			message: '#^Method Symkit\\BuilderBundle\\Render\\Strategy\\ParagraphBlockStrategy\:\:createFromNode\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Render/Strategy/ParagraphBlockStrategy.php

		-
			message: '#^Method Symkit\\BuilderBundle\\Render\\Strategy\\QuoteBlockStrategy\:\:createFromNode\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Render/Strategy/QuoteBlockStrategy.php

		-
			message: '#^Method Symkit\\BuilderBundle\\Render\\Strategy\\SeparatorBlockStrategy\:\:createFromNode\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Render/Strategy/SeparatorBlockStrategy.php

		-
			message: '#^Parameter \#1 \$haystack of function str_starts_with expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Render/Strategy/SnippetBlockStrategy.php

		-
			message: '#^Cannot call method getElementsByTagName\(\) on DOMElement\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: src/Render/Strategy/TableBlockStrategy.php

		-
			message: '#^Method Symkit\\BuilderBundle\\Render\\Strategy\\TableBlockStrategy\:\:createFromNode\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Render/Strategy/TableBlockStrategy.php

		-
			message: '#^Parameter \#2 \.\.\.\$replacements of function array_replace_recursive expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Render/Strategy/TwigTemplateBlockStrategy.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 2
			path: src/Render/Strategy/TwigTemplateBlockStrategy.php

		-
			message: '#^Parameter \#1 \$haystack of function str_contains expects string, mixed given\.$#'
			identifier: argument.type
			count: 5
			path: src/Render/Strategy/VideoBlockStrategy.php

		-
			message: '#^Parameter \#1 \$url of function parse_url expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Render/Strategy/VideoBlockStrategy.php

		-
			message: '#^Parameter \#2 \$string of function explode expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Render/Strategy/VideoBlockStrategy.php

		-
			message: '#^Parameter \#2 \$string of function explode expects string, string\|false\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Render/Strategy/VideoBlockStrategy.php

		-
			message: '#^Call to an undefined method object\:\:getCategory\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Service/BlockRegistry.php

		-
			message: '#^Call to an undefined method object\:\:getCode\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Service/BlockRegistry.php

		-
			message: '#^Call to an undefined method object\:\:getDefaultData\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Service/BlockRegistry.php

		-
			message: '#^Call to an undefined method object\:\:getHtmlCode\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Service/BlockRegistry.php

		-
			message: '#^Call to an undefined method object\:\:getIcon\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Service/BlockRegistry.php

		-
			message: '#^Call to an undefined method object\:\:getLabel\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Service/BlockRegistry.php

		-
			message: '#^Call to an undefined method object\:\:getTemplate\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Service/BlockRegistry.php

		-
			message: '#^Method Symkit\\BuilderBundle\\Service\\BlockRegistry\:\:getAvailableBlocks\(\) should return array\<string, array\{label\: string, icon\: string, defaultData\: array\<string, mixed\>, template\: string, category\: string\}\> but returns array\<mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Service/BlockRegistry.php

		-
			message: '#^Binary operation "\." between ''\<div class\="not…'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Service/BlockSynchronizer.php

		-
			message: '#^Call to an undefined method object\:\:setCategory\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Service/BlockSynchronizer.php

		-
			message: '#^Call to an undefined method object\:\:setCode\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: src/Service/BlockSynchronizer.php

		-
			message: '#^Call to an undefined method object\:\:setDefaultData\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Service/BlockSynchronizer.php

		-
			message: '#^Call to an undefined method object\:\:setHtmlCode\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Service/BlockSynchronizer.php

		-
			message: '#^Call to an undefined method object\:\:setIcon\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Service/BlockSynchronizer.php

		-
			message: '#^Call to an undefined method object\:\:setIsActive\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Service/BlockSynchronizer.php

		-
			message: '#^Call to an undefined method object\:\:setLabel\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: src/Service/BlockSynchronizer.php

		-
			message: '#^Call to an undefined method object\:\:setPosition\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Service/BlockSynchronizer.php

		-
			message: '#^Call to an undefined method object\:\:setTemplate\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Service/BlockSynchronizer.php

		-
			message: '#^Cannot access offset ''category'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Service/BlockSynchronizer.php

		-
			message: '#^Cannot access offset ''code'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Service/BlockSynchronizer.php

		-
			message: '#^Cannot access offset ''data'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Service/BlockSynchronizer.php

		-
			message: '#^Cannot access offset ''html'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Service/BlockSynchronizer.php

		-
			message: '#^Cannot access offset ''icon'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Service/BlockSynchronizer.php

		-
			message: '#^Cannot access offset ''label'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Service/BlockSynchronizer.php

		-
			message: '#^Method Symkit\\BuilderBundle\\Service\\BlockSynchronizer\:\:upsertBlock\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Service/BlockSynchronizer.php

		-
			message: '#^Parameter \#1 \$code of method Symkit\\BuilderBundle\\Service\\BlockSynchronizer\:\:upsertBlock\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/BlockSynchronizer.php

		-
			message: '#^Parameter \#2 \$data of method Symkit\\BuilderBundle\\Service\\BlockSynchronizer\:\:upsertBlock\(\) expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/BlockSynchronizer.php

		-
			message: '#^Parameter \#3 \$subject of function str_replace expects array\<string\>\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/BlockSynchronizer.php

		-
			message: '#^Parameter &\$categoryObjects by\-ref type of method Symkit\\BuilderBundle\\Service\\BlockSynchronizer\:\:syncSnippets\(\) expects array\<string, object\>, array\<object\> given\.$#'
			identifier: parameterByRef.type
			count: 1
			path: src/Service/BlockSynchronizer.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 2
			path: src/Service/BlockSynchronizer.php

		-
			message: '#^Cannot call method saveHTML\(\) on DOMDocument\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Service/MarkdownToBlocksService.php

		-
			message: '#^Method Symkit\\BuilderBundle\\Service\\MarkdownToBlocksService\:\:convertToBlocks\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Service/MarkdownToBlocksService.php

		-
			message: '#^Method Symkit\\BuilderBundle\\Service\\MarkdownToBlocksService\:\:mapNodeToBlock\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Service/MarkdownToBlocksService.php

		-
			message: '#^Method Symkit\\BuilderBundle\\Twig\\BlockExtension\:\:renderBlock\(\) has parameter \$block with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Twig/BlockExtension.php

		-
			message: '#^Method Symkit\\BuilderBundle\\Twig\\BlockExtension\:\:renderBlocks\(\) has parameter \$blocks with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Twig/BlockExtension.php

		-
			message: '#^Call to an undefined method object\:\:getHtmlCode\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Validator/Constraints/BlockContentSourceValidator.php

		-
			message: '#^Call to an undefined method object\:\:getTemplate\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Validator/Constraints/BlockContentSourceValidator.php
